.homeWrapper{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.homeLeft{
    width: 625px;
    margin-left: 15px;
    float: left;
    padding-top: 30px;
}
.banner-img{
    width: 625px;
    height: 270px;
}
.homeRight{
    width: 280px;
    float: right;;
}

.writerWrapper{
    width: 278px;
    border:1px solid #dcdcdc;
    border-radius: 3px;
    height: 300px;
    line-height: 300px;
    text-align: center;
}

.loadMore{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:#a5a5a5;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin:30px 0px;
    cursor: pointer;
}

.backTop{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #ccc;
    right: 100px;
    bottom: 100px;
    font-size: 14px;
    cursor: pointer;
}
