.headerWrapper{
	height: 58px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	z-index: 1;
}

.logo{
	position: absolute;
	height: 56px;
	top:0;
	left:0;
	width: 100px;
	display: block;
	background: url('../../statics/logo.png');
	background-size:contain
}

.nav{
	width: 960px;
	height: 100%;
	margin: 0 auto;
   
}

.navItem{
	line-height: 56px;
	font-size: 17px;
	padding: 0 15px;
	color: #333;
}

.navItem.left{
	float: left;
}

.navItem.right{
	float: right;
	color: #969696;
	cursor: pointer;
}

.navItem.active{
  color: #ea6f5a;
}

.navSearch{
	width: 160px;
	height: 38px;
	border: none;
	outline: none;
	border-radius: 19px;
	margin-top:9px;
	padding:0 30px 0 20px; 
	box-sizing: border-box;
	background: #eee;
	font-size:14px;
	margin-left: 20px; 
}
.navSearch.focused{
	width: 240px;
}
.focused.iconfont{
 background-color: #777;
 color:white;
}
.searchWrapper{
	float: left;
	position: relative;
}
.slide-enter{

	transition: all .2s ease-out
}
.slide-enter-active{
	width: 240px;
}
.slide-exit{
	transition:all .2s ease-out;
}




.searchWrapper .zoom{
	position:absolute;
	right:3px;
	bottom:5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	
}

input::placeholder {
	color: #999;
}

.addition{
	position: absolute;
	right:0;
	top:0;
	height:56px;
}

.button{
	float: right;
	line-height: 38px;
	margin-top:9px;
	border-radius: 19px;
	border:1px solid #ec6149;
	margin-right:20px;
	padding: 0 20px;
}

.reg{
	color: #ec6149
}

.writting{
	color: #fff;
	background-color: #ec6149;
}

.SearchInfo{
	position: absolute;
	left: 0;
	top: 56px;
	width: 240px;
	padding: 0 20px;
	box-shadow: 0 0 8px rgba(0,0,0,.2);
	background:white;
}

.SearchInfoTitle{
	margin-top:20px;
	margin-bottom: 15px;
	line-height: 20px;
	font-size:14px;
	color:#969696
}

.SearchInfoSwitch{
	float: right;
	font-size:13px;
	cursor: pointer;
}
.SearchInfoTitle .spin{
	display: block;
	float: left;
	font-size: 12px;
	margin-right: 2px;
	transition: all .2s ease-in;
	/* transform: rotate(0deg); */
	transform-origin: center center;
}
.SearchInfoItem span{
	font-size:12px;
	padding:0 5px;
	border:1px solid #ddd;
	line-height: 20px;
	color: #787878;
	float: left;
	display: block;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.SearchInfoItem{
	overflow: hidden;
}